In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('energydata_complete.xlsx')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
column_names ={'T1':'kitchen_temp', 'T2': 'Living_room_temp', 'T3':'Laundry_temp', 'T4':'office_temp',
          'T5':'bathroom_temp', 'T6':'tem_outside_building', 'T7':'iron_room_temp', 'T8':'teen_room_temp', 
          'T9':'parent_room_temp', 'T_out':'outside_temp', 'RH_1':'kitchen_humidity','RH_2':'living_room_humidity',
          'RH_3':'laundry_humidity', 'RH_4':'office_humidity', 'RH_5':'bathroom_humidity', 'RH_6':'outside_humidity',
          'RH_7':'iron_room_humidity','RH_8':'teen_room_humidity', 'RH_9':'parent_room_humidity', 'RH_out':'humidity_outside'}
df= df.rename(columns=column_names)

In [5]:
df.head(2)

,date,Appliances,lights,kitchen_temp,kitchen_humidity,Living_room_temp,living_room_humidity,Laundry_temp,laundry_humidity,office_temp,...,parent_room_temp,parent_room_humidity,outside_temp,Press_mm_hg,humidity_outside,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  19735 non-null  datetime64[ns]
 1   Appliances            19735 non-null  int64
 2   lights                19735 non-null  int64
 3   kitchen_temp          19735 non-null  float64
 4   kitchen_humidity      19735 non-null  float64
 5   Living_room_temp      19735 non-null  float64
 6   living_room_humidity  19735 non-null  float64
 7   Laundry_temp          19735 non-null  float64
 8   laundry_humidity      19735 non-null  float64
 9   office_temp           19735 non-null  float64
 10  office_humidity       19735 non-null  float64
 11  bathroom_temp         19735 non-null  float64
 12  bathroom_humidity     19735 non-null  float64
 13  tem_outside_building  19735 non-null  float64
 14  outside_humidity      19735 non-null  float64
 15  iron_room_temp        19735 non-null  float64
 16  iron_room_humidity    19735 non-null  float64
 17  teen_room_temp        19735 non-null  float64
 18  teen_room_humidity    19735 non-null  float64
 19  parent_room_temp      19735 non-null  float64
 20  parent_room_humidity  19735 non-null  float64
 21  outside_temp          19735 non-null  float64
 22  Press_mm_hg           19735 non-null  float64
 23  humidity_outside      19735 non-null  float64
 24  Windspeed             19735 non-null  float64
 25  Visibility            19735 non-null  float64
 26  Tdewpoint             19735 non-null  float64
 27  rv1                   19735 non-null  float64
 28  rv2                   19735 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2)
memory usage: 4.4 MB

In [7]:
df.describe()

,Appliances,lights,kitchen_temp,kitchen_humidity,Living_room_temp,living_room_humidity,Laundry_temp,laundry_humidity,office_temp,office_humidity,...,parent_room_temp,parent_room_humidity,outside_temp,Press_mm_hg,humidity_outside,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [8]:
df.isnull().sum()

date                    0
Appliances              0
lights                  0
kitchen_temp            0
kitchen_humidity        0
Living_room_temp        0
living_room_humidity    0
Laundry_temp            0
laundry_humidity        0
office_temp             0
office_humidity         0
bathroom_temp           0
bathroom_humidity       0
tem_outside_building    0
outside_humidity        0
iron_room_temp          0
iron_room_humidity      0
teen_room_temp          0
teen_room_humidity      0
parent_room_temp        0
parent_room_humidity    0
outside_temp            0
Press_mm_hg             0
humidity_outside        0
Windspeed               0
Visibility              0
Tdewpoint               0
rv1                     0
rv2                     0
dtype: int64

In [9]:
df.duplicated().any()

False

In [10]:
df.head(2)

,date,Appliances,lights,kitchen_temp,kitchen_humidity,Living_room_temp,living_room_humidity,Laundry_temp,laundry_humidity,office_temp,...,parent_room_temp,parent_room_humidity,outside_temp,Press_mm_hg,humidity_outside,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [11]:
df['lights'].value_counts()

0     15252
10     2212
20     1624
30      559
40       77
50        9
60        1
70        1
Name: lights, dtype: int64

In [12]:
df.dtypes

date                    datetime64[ns]
Appliances                       int64
lights                           int64
kitchen_temp                   float64
kitchen_humidity               float64
Living_room_temp               float64
living_room_humidity           float64
Laundry_temp                   float64
laundry_humidity               float64
office_temp                    float64
office_humidity                float64
bathroom_temp                  float64
bathroom_humidity              float64
tem_outside_building           float64
outside_humidity               float64
iron_room_temp                 float64
iron_room_humidity             float64
teen_room_temp                 float64
teen_room_humidity             float64
parent_room_temp               float64
parent_room_humidity           float64
outside_temp                   float64
Press_mm_hg                    float64
humidity_outside               float64
Windspeed                      float64
Visibility                     float64
Tdewpoint                      float64
rv1                            float64
rv2                            float64
dtype: object

**Linear Regression Model for Living Room Temperature and Temperature outside Building**

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [14]:
linear_df = df[['Living_room_temp','tem_outside_building' ]]
linear_df.head(2)

   Living_room_temp  tem_outside_building
0              19.2              7.026667
1              19.2              6.833333

In [15]:
norm_linear_df = pd.DataFrame(scaler.fit_transform(linear_df), columns = linear_df.columns)

In [16]:
norm_features =  norm_linear_df.drop(columns = ['tem_outside_building'])
norm_target = norm_linear_df['tem_outside_building']

In [17]:
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1 = train_test_split(norm_features, norm_target, test_size = 0.3, random_state = 42)

In [18]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(X_train1, y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
predicted_v = linear_model.predict(X_test1)

In [20]:
from sklearn.metrics import mean_absolute_error
mae_o = mean_absolute_error(y_test1, predicted_v)
round(mae_o,3)

0.082

In [21]:
rss_o = np.sum(np.square(y_test1 - predicted_v))
round(rss_o,3)

66.116

In [22]:
from sklearn.metrics import mean_squared_error
rmse_o = np.sqrt(mean_squared_error(y_test1,predicted_v))
round(rmse_o,3)

0.106

In [23]:
from sklearn.metrics import r2_score
r2_score_o = r2_score(y_test1, predicted_v)
round(r2_score_o,3)

0.643

**Multiple Linear Regression Model For the Dataset**

In [24]:
df = df.drop(columns = ['date','lights'])

In [25]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
features_df = norm_df.drop(columns = ['Appliances'])
target = norm_df['Appliances']

In [26]:
features_df.shape

(19735, 26)

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_df, target, test_size = 0.3, random_state = 42)

In [28]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
predicted_values = linear_model.predict(X_test)

In [30]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae,3)

0.05

In [31]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss,3)

45.348

In [32]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.088

In [33]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score,3)

0.149

**Ridge Model For The Dataset**

In [34]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [35]:
predicted_values2 =  ridge_reg.predict(X_test)

In [36]:
mae2 = mean_absolute_error(y_test, predicted_values2)
round(mae,3)

0.05

In [37]:
rss2 = np.sum(np.square(y_test - predicted_values2))
round(rss,2)

45.35

In [38]:
rmse2 = np.sqrt(mean_squared_error(y_test,predicted_values2))
round(rmse,3)

0.088

**Lasso Model For the Dataset**

In [40]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha =0.001 )
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [41]:
predicted_values3 =  lasso_reg.predict(X_test)

In [42]:
mae3 = mean_absolute_error(y_test, predicted_values3)
round(mae,3)

0.05

In [43]:
rmse3 = np.sqrt(mean_squared_error(y_test,predicted_values3))
round(rmse,3)

0.088

In [44]:
linear_model.coef_

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

**Model Weights**

In [45]:
def get_weights_df(model,feat,col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [46]:
linear_model_weights = get_weights_df(linear_model, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'ridge_weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'lasso weight')

In [47]:
final_weights = pd.merge(linear_model_weights,ridge_weights_df, on ='features')
final_weights = pd.merge(final_weights,lasso_weights_df, on = 'features')

In [48]:
final_weights

                features  Linear_Model_Weight  ridge_weight  lasso weight
0   living_room_humidity            -0.456698     -0.411071     -0.000000
1           outside_temp            -0.321860     -0.262172      0.000000
2       Living_room_temp            -0.236178     -0.201397      0.000000
3       parent_room_temp            -0.189941     -0.188916     -0.000000
4     teen_room_humidity            -0.157595     -0.156830     -0.000110
5       humidity_outside            -0.077671     -0.054724     -0.049557
6     iron_room_humidity            -0.044614     -0.045977     -0.000000
7   parent_room_humidity            -0.039800     -0.041367     -0.000000
8          bathroom_temp            -0.015657     -0.019853     -0.000000
9           kitchen_temp            -0.003281     -0.018406      0.000000
10                   rv1             0.000770      0.000748     -0.000000
11                   rv2             0.000770      0.000748     -0.000000
12           Press_mm_hg             0.006839      0.006584     -0.000000
13        iron_room_temp             0.010319      0.010098     -0.000000
14            Visibility             0.012307      0.012076      0.000000
15     bathroom_humidity             0.016006      0.016152      0.000000
16       office_humidity             0.026386      0.024579      0.000000
17           office_temp             0.028981      0.027384     -0.000000
18             Windspeed             0.029183      0.030268      0.002912
19      outside_humidity             0.038049      0.035519     -0.000000
20      laundry_humidity             0.096048      0.095135      0.000000
21        teen_room_temp             0.101995      0.101028      0.000000
22             Tdewpoint             0.117758      0.083128      0.000000
23  tem_outside_building             0.236425      0.217292      0.000000
24          Laundry_temp             0.290627      0.288087      0.000000
25      kitchen_humidity             0.553547      0.519525      0.017880